.text{
    color:green;
    font-family:'mono';
}
body{
    background-color:black;
}
.heading{
        font-size:50px;
        font-weight:bold;
        text-align:center;
        margin-top:20px;
}
#game-console{
    width:600px;
    margin:auto;
    margin-top:20px;
    border:solid white 3px;
    }

canvas{
    border:solid 1px green;
    background-color:green;
    margin-right:10px;
}
#controls{
    font-family:'mono';
    font-size:30px;
    float:right;
    width:250px;
    margin-right:10px;
    margin-top:150px;
    color:green;
}

button{
font-size:30px;}

#score{float:right;
margin-right:30px;}